body{
    text-align: center;
    width: 1290px;
    overflow-x:hidden;
    margin: 0;
}
body::-webkit-scrollbar{
    display:none;
}

h1{
    font-size:17px;
}

.hportrait{
    margin-top:80px;
    width: 80px;
    height: 80px;
    border-radius: 150px;
    border: 3px solid #FFF;
}

.left-bottom{
    background-color:rgba(20,74,116);
    margin:0;
    width:430px;
    float:left;
    height:625px;
    text-align:center;
}

@keyframes back{
    0%{
        background-image:url("1-2.jpg");
    }
    20%{
        background-image:url("12.jpg");
    }
    40%{
        background-image:url("15.jpg");
    }
    60%{
        background-image:url("5-2.jpg");
    }
    80%{
        background-image:url("14.jpg");
    }
    100%{
        background-image:url("4.jpg");
    }
}

.left-bottom:hover{
    animation-name:back;
    animation-duration:30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*左半部分*/
.left{
    font-family: Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
    margin:0;
    height:625px;
    background-color:rgba(33,55,61,0.5);
    color:rgba(255,255,255,0.8);
}

.name{
    padding-top: 20px;
    height: 100px;
    font-size:20px;
    margin-bottom: 20px;
}

.introduction{
    font-size:14px;
    margin-left:85px;
    width:260px;
    text-align:left;
    margin-bottom:60px;
}

.account{
    height:30px;
    margin-left:135px;
    width:200px;
    text-align:left;
    font-size:13px;
}

.bottom{
    margin-top:60px;
    font-size:13px;
}

/*右半部分*/

.right-bottom{
    margin-left:430px;
    width:855px;
    overflow:hidden;
}

.right{
    font-family: Helvetica, Tahoma, Arial,  "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
    margin-left:0px;
    width:870px;
    height:625px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align:left;
}

/*.right::-webkit-scrollbar{
    display:none;
}*/

.log{
    width: 750px;
    height:200px;
    margin-left: 70px; 
    padding-top:40px;
}


.log a{
    color:black;
    text-decoration:none;
    width:100%;
    display:block;
    height:auto;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
    transition:color 0.5s linear;
}

.log a:hover{
    color:rgba(20,74,116,0.9);
}

.logabstract{
    font-size:17px;
    color:rgba(0,0,0,0.7);
    float:left;
    margin-left:0px;
    width: 450px;
    transition:color 0.5s linear;
}

.logabstract:hover{
    color:rgba(0,0,0,0.9);
}

.time{
    color:rgba(0,0,0,0.6);
    font-size:14px;
}

.logpic{
    margin-top:10px;
    margin-left: 500px;
    box-shadow:0 0 2px 5px ,rgba(0,0,25,0.1);
    border-radius:5px;
    width:240px;
    height:150px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    transition:box-shadow 0.5s linear;
}

.logpic:hover{
    box-shadow:0 2px 5px rgba(0,0,25,0.3),0 5px 75px 1px rgba(0,0,50,0.3);
}

#i1{
    background-image: url("13.jpg");
}

#i2{
    background-image: url("15.jpg");
}

/*详情界面*/

.content{
    width: 700px;
    margin-left: 100px; 
}

.title{
    font-size:30px;
}

.text{
    text-indent:30px;
    line-height: 30px;
}

.image{
    margin-left: 10px; 
    width:620px;
}

.contentpic{
    width:100%;
}


.transition{
    margin-top:100px;
    margin-left:350px;
    width:120px;
    height:30px;
    text-align: center;
    margin-bottom:100px;
    border-radius:5px;
    background-color:rgba(71,75,76,0.9);
    box-shadow:2px 2px 2px 5px ,rgba(0,0,25,0.7);
    transition:box-shadow 0.5s linear;
}

.transition:hover{
    box-shadow:0 2px 5px rgba(0,0,25,0.3),0 5px 75px 1px rgba(0,0,50,0.3);
    background-color:rgb(18,110,130);
}

.next{
    color:rgba(255,255,255);
    font-size:20px;
    vertical-align:middle;
    text-decoration:none;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
}





